<h1>ブログ記事一覧</h1>

<%= link_to "新規記事の投稿", new_post_path %>

<hr>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post %></h2>
    <p>投稿日時: <%= post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
  </div>
  <hr>
<% end %>